<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navcontainer">
        <nav>
          <ul class="navbarlist">
            <li><%= link_to "Home", "#"%></li>
            <li><%= link_to "Log in", "#" %></li>
            <li><%= link_to "Signup", "#" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
